.welcome{
    width: 100%;
    height: 398px;
    background-color: #0D6EFD;
    color: white;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.welcome-text h1{
    margin-top: 130px;
}

.welcome-text p{
    font-size: 20px;
}

.welcome-text a{
    text-decoration: none;
    color: black;
}

.scrollbtn{
    width: 160px;
    height: 48px;
    border: none;
    border-radius: 15px;
    background-color: white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contact{
    height: 400px;
    max-width: 600px;
    margin: 0 auto;

}
.contact-title{
    display: flex;
}
.contact-us{
    display: flex;
    text-align: start;
}